.bot-control-pane {
    -fx-padding: 30 0 0 50;
}

.title {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5 0;
}

.token-box > .label, .token-box > .svg-wrap {
    -fx-opacity: 0.5;
}

.token-box .label, .token-box .text-field {
    -fx-font-size: 15;
}

.token-box .token {
    -fx-padding: 0 3 0 50;
}

.token-box .token-label {
    -fx-padding: 0 0 0 5;
}

.token-box .svg-wrap {
    -fx-scale-x: .6;
    -fx-scale-y: .6;
    -fx-padding: 0 15 0 0;
}

.token-box .svg {
    -fx-fill: white;
}

.token-box .svg-wrap:hover {
    -fx-opacity: .7;
}

.new {
    -fx-font-size: 15;
    -fx-opacity: .5;
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 0;
    -fx-cursor: hand;
}

.new:hover {
    -fx-opacity: .6;
}

.new:pressed {
    -fx-opacity: .7;
}

.event {
    -fx-padding: 40 0 20 0;
}

.event .event-title-node {
    -fx-spacing: 10;
    -fx-padding: 0 0 10 0;
}

.event .event-title {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.event .new {
    -fx-padding: 0 0 15 25;
}

.event .actions, .event .filters {
    -fx-spacing: 10;
}

.event .event-action {
    -fx-font-size: 20;
}

.event .text-field {
    -fx-font-size: 18;
}

.event .svg {
    -fx-fill: white;
}

.event .svg-wrap {
    -fx-opacity: .5;
    -fx-cursor: hand;
}

.event .svg-wrap:hover {
    -fx-opacity: .7;
}

.event .svg-wrap:pressed {
    -fx-opacity: .9;
}

.event .hint {
    -fx-font-size: 16;
    -fx-opacity: .5;
    -fx-padding: 0 0 0 10;
}

.event .remove-line-button {
    -fx-pref-width: 15;
    -fx-scale-y: 0;
    -fx-opacity: .35;
}

.event .remove-line-button .svg {
    -fx-scale-x: .6;
    -fx-scale-y: .6;
}

.event .event-line:hover .remove-line-button, .event .event-title-node:hover .remove-line-button {
    -fx-scale-y: 1;
}