.bot-control-pane {
    -fx-padding: 30 0 0 35;
}

.title {
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.token-box > .label, .token-box > .svg-wrap {
    -fx-opacity: 0.5;
}

.token-box .label, .token-box .text-field {
    -fx-font-size: 15;
}

.token-box .token {
    -fx-padding: 0 3 0 50;
}

.token-box .token-label {
    -fx-padding: 0 0 0 5;
}

.token-box .svg-wrap {
    -fx-scale-x: .6;
    -fx-scale-y: .6;
}

.token-box .svg {
    -fx-fill: white;
}

.token-box .svg-wrap:hover {
    -fx-opacity: .7;
}

.new {
    -fx-font-size: 15;
    -fx-opacity: .5;
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 0;
    -fx-cursor: hand;
}

.new:hover {
    -fx-opacity: .6;
}

.new:pressed {
    -fx-opacity: .7;
}

.event {
    -fx-padding: 40 0 20 0;
}

.event .event-title {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}