@import "style.css";

.console {
    -fx-padding: 20 0 0 20;
    -fx-spacing: 7;
}

.log {
    -fx-font-size: 18;
    -fx-wrap-text: true;
}

.log-error {
    -fx-text-fill: #ff4f4f;
    -fx-font-weight: bold;
}