* {
    -fx-dark: #0e1621;
}

.text {
    -fx-font-smoothing-type: gray;
    -fx-fill: white;
}

.label {
    -fx-font-family: Karla;
}

.root {
    -fx-background-color: -fx-dark;
}

.split-pane {
    -fx-box-border: transparent;
    -fx-padding: 0;
}

.split-pane .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.left-control {
    -fx-background-color: derive(-fx-dark, 20%);
    -fx-spacing: 20;
}

.left-control .nav-bar {
    -fx-background-color: derive(-fx-dark, 30%);
}

.right-control {
    -fx-background-color: -fx-dark;
}

.right-control .nav-bar {
    -fx-background-color: derive(-fx-dark, 15%);
}

.nav-bar {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 15, 0, 0, 3);
}

.bot-list {
    -fx-padding: 0 0 0 20;
    -fx-spacing: 5;
}

.bot-list .bot-name {
    -fx-font-size: 18;
}