* {
    -fx-dark: #0e1621;
}

.text {
    -fx-font-smoothing-type: gray;
}

.label {
    -fx-font-family: Karla;
    -fx-text-fill: white;
}

.root {
    -fx-background-color: -fx-dark;
}

.split-pane {
    -fx-box-border: transparent;
    -fx-padding: 0;
}

.split-pane .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.left-control {
    -fx-background-color: derive(-fx-dark, 20%);
    -fx-spacing: 20;
}

.left-control .nav-bar {
    -fx-background-color: derive(-fx-dark, 30%);
}

.right-control {
    -fx-background-color: -fx-dark;
}

.right-control .nav-bar {
    -fx-background-color: derive(-fx-dark, 15%);
}

.nav-bar {
    -fx-padding: 0 0 0 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 15, 0, 0, 3);
}

.bot-list .bot-name {
    -fx-padding: 5 0 5 20;
    -fx-font-size: 18;
}

.bot-list .bot-name:hover {
    -fx-background-color: rgba(255, 255, 255, .05);
}

.bot-list .bot-name:selected {
    -fx-background-color: rgba(255, 255, 255, .1);
}

.add-bot-button {
    -fx-text-fill: #73d078;
    -fx-font-size: 45;
    -fx-font-weight: bold;
    -fx-opacity: .85;
    -fx-padding: 0 0 5 0;
    -fx-cursor: hand;
}

.add-bot-button:hover {
    -fx-opacity: 1;
}

.context-menu {
    -fx-background-color: derive(-fx-dark, 15%);
}

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 3 20 3 20;
    -fx-font-size: 16;
}

.menu-item:focused {
    -fx-background-color: rgba(255, 255, 255, .1);
}