* {
    -fx-dark: #0e1621;
}

.text {
    -fx-font-smoothing-type: gray;
}

.label, .text-field {
    -fx-font-family: Karla;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: rgba(255, 255, 255, .1);
    -fx-highlight-fill: rgba(255, 255, 255, .15);
    -fx-prompt-text-fill: rgba(255, 255, 255, .4);
}

.error {
    -fx-effect: dropshadow(gaussian, maroon, 10, 0, 0, 1);
    -fx-text-fill: #ff4f4f;
}

.root {
    -fx-background-color: -fx-dark;
}

.split-pane {
    -fx-box-border: transparent;
    -fx-padding: 0;
}

.split-pane .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.left-control {
    -fx-background-color: derive(-fx-dark, 20%);
    -fx-spacing: 20;
}

.left-control .nav-bar {
    -fx-background-color: derive(-fx-dark, 30%);
}

.right-control {
    -fx-background-color: -fx-dark;
}

.right-control .nav-bar {
    -fx-background-color: derive(-fx-dark, 15%);
}

.nav-bar {
    -fx-padding: 0 0 0 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 15, 0, 0, 3);
}

.menu-bar {
    -fx-background-color: transparent;
}

.menu > .label {
    -fx-font-size: 18;
}

.menu-item > .label {
    -fx-font-size: 16;
}

.menu-button {
    -fx-cursor: hand;
}

.menu-button:focused, .menu-button:hover, .menu-button:selected, .menu-button:showing {
    -fx-background-color: transparent;
}

.bot-list .bot-name {
    -fx-padding: 5 0 5 20;
    -fx-font-size: 18;
}

.bot-list .bot-name:hover {
    -fx-background-color: rgba(255, 255, 255, .05);
}

.bot-list .bot-name:selected {
    -fx-background-color: rgba(255, 255, 255, .1);
}

.add-bot-button {
    -fx-text-fill: #73d078;
    -fx-font-size: 45;
    -fx-font-weight: bold;
    -fx-opacity: .85;
    -fx-padding: 0 0 5 0;
    -fx-cursor: hand;
}

.add-bot-button:hover {
    -fx-opacity: 1;
}

.context-menu {
    -fx-background-color: derive(-fx-dark, 15%);
}

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 3 20 3 20;
    -fx-font-size: 16;
}

.menu-item:focused {
    -fx-background-color: rgba(255, 255, 255, .1);
}

.scene-popup {
    -fx-background-color: derive(-fx-dark, 10%);
    -fx-padding: 15;
    -fx-background-radius: 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 15, 0, 0, 5);
}

.scene-popup > .label {
    -fx-font-size: 16;
}

.scene-popup > .popup-title {
    -fx-font-size: 18;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: bold;
}

.scene-popup .text-field {
    -fx-font-size: 16;
}

.scene-popup .confirm {
    -fx-font-size: 16;
    -fx-background-color: rgba(255, 255, 255, .1);
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.scene-popup .confirm:hover {
    -fx-background-color: rgba(255, 255, 255, .15);
}

.scene-popup .confirm:pressed {
    -fx-background-color: rgba(255, 255, 255, .2);
}